body,
#quote,
#author {
    display: flex;
    justify-content: center;
}

.quoteContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 50px;
    width: 80%;
    border: 1px solid grey;
    border-radius: 20px;
}

#quote {
    font-family: "Helvetica";
    text-align: center;
    font-size: 20px;
}

#author {
    margin-top: 10px;
    font-family: "Helvetica";
    font-size: 35px;
}

#reloadbtn  {
    position: absolute;
    top: 500px;
    left: 30%;
    height: 100px;
    width: 300px;
    background-color: #FFFFFF;
    color: black;
    border: 2px solid #555555;
}
#reloadbtn:hover {
  background-color: #555555;
  color: white;
}
