body,
#quote,
#author {
    display: flex;
    justify-content: center;
}

.quoteContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 50px;
    width: 80%;
    border: 1px solid grey;
    border-radius: 20px;
}

#quote {
    font-family: "Helvetica";
    text-align: center;
    font-size: 20px;
}

#author {
    margin-top: 10px;
    font-family: "Helvetica";
    font-size: 35px;
}

#reloadbtn  {
    color: lightgray;
    border: 2px solid black;
    transition-duration: 0.4s;
}

#reloadbtn:hover {
    background-color: gray;
    color: white;
}
